@model Product
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr></hr>
        </div>
        <div class="mb-3">
            <label>Title</label>
            <input asp-for="Title" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input asp-for="Description" disabled type="text" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Author</label>
            <input asp-for="Author" disabled type="text" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input asp-for="Price" disabled type="number" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Category</label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" disabled class="form-control">
            <option disabled selected>--Select Category--</option>
            </select>
            <span class="text-danger">@Html.ValidationMessage("displayOrder")</span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </div>
</form>
